<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fillinggood">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Boundary.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Boundary.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Boundary.personal_calendar.ExternalScheduleAdditionForm"
            android:label="외부 일정 연동"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Boundary.personal_calendar.PersonalScheduleAdditionForm"
            android:label="일정 추가"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Boundary.personal_calendar.PersonalScheduleModificationForm"
            android:label="일정 수정/삭제"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Boundary.group_calendar.GroupAdditionForm"
            android:label="모임 등록"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Boundary.group_calendar.GroupModificationForm"
            android:label="모임 수정"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Boundary.group_calendar.GroupScheduleList"
            android:label="모임 일정 등록"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Boundary.group_calendar.GroupScheduleAdditionForm"
            android:label="모임 일정 생성"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Boundary.group_calendar.GroupScheduleHistoryForm"
            android:label="모임 내역"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Boundary.group_calendar.ScheduleRecommendationForm"
            android:label="시간/장소 추천"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Boundary.home.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>